.container_small-card{
    height: 160px;
    width:  600px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.small-card_photo > img{
    margin-right: 20px;
    height: 100px;
    width: 150px;
    min-width: 100px;
}

.small-card_title > h1 > a{
    font-size: 18px;
}